.section4 {
  height: 16vh;
  background-image: linear-gradient(rgb(41, 41, 27, 0.8), rgb(41, 41, 27, 0.8)),
    url("../img/section4_img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: black;
    color: white;
    width: 13em;
    height: 4vh;
    border-radius: 10px 10px 10px 10px;
  }
}
